*{
   
}
body{
    background-color:rgb(147,112,219,0.3);
}
table,thead,td{
    border:1px solid black;
    font-family: monospace;
    text-align: center;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    position: relative;
    left:40px;
    width:800;
    background-color: aliceblue;

  

  


  }
 h1{
    padding: 50px;
    margin-left: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color:black;
    
    text-align: center;
    font-weight: 600;
    display:inline-block ;
    width:auto;
    margin:20px;
    padding:20px;
    position: relative;
    left: 100x;
   

    

 }
  
  .container1 {
   position: absolute;
   top:150px;
   left:400px;
    max-width: 940px;
    margin: 0 auto;
    height: 600px;
    background-color:rgb(102, 51, 153, 0.5);
    overflow: scroll;
    scrollbar-color:aliceblue;
    scrollbar-width:thin;
  
  }

  
   th, td{
    text-align:left;
    padding: 15px;
   }

   td:hover {
    background-color:rgb(102, 51, 153, 0.5);
  }
  thead th{
    background-color:#4B0082;
    color: white;
    
}
